<div class='summary'>
  <%- if object.user == current_user %>
    <strong>You</strong> 
  <%- else %>
    <%= link_to(object.user.username, user_path(object.user)) %>
  <%- end %> uploaded 
  <%= link_to object.name, sample_path(object) %>
</div>
<div class='timestamp'>
  <%= pretty_timestamp(object.created_at) %>
</div>
