%header
  %hgroup
    %h1#username= @user.username
    %h3#bio= @user.bio

%div#borrowed_samples
  - @user.borrowed_samples.each do |s|
    %div.borrowed_sample= link_to sample_name_for(s), sample_path(s.id)
