.user_nav
  - if user_signed_in?
    %ul
      %li= link_to current_user.username, user_path(current_user.username)
      %li= link_to "Sign out", destroy_user_session_path, :method => :delete
      %li= link_to "Home", root_path
      %li= link_to "Upload a sample", new_sample_path
