%header
  %h1= "Home for #{current_user.username}"

#user_info
  - if current_user.bio.blank?
    %p You haven't added a bio yet!

#upload
  %ul
    %li= link_to "Upload a sample", new_sample_path
    %li= link_to "Upload a beat", new_beat_path

