<div class='summary'>
  <%- if object.user == current_user %>
    <strong>You</strong> 
  <%- else %>
    <%= link_to(object.user.username, user_path(object.user)) %>
  <%- end %> added 
  <%= link_to object.sample.name, sample_path(object.sample) %> to 
  <%= object.user == current_user ? "your" : "their" %> crate
</div>
<div class='timestamp'>
  <%= pretty_timestamp(object.created_at) %>
</div>
