<div class='summary'>
  <%- if beat.user == current_user %>
    <strong>You</strong> 
  <%- else %>
    <%= link_to(beat.user.username, user_path(beat.user)) %>
  <%- end %> uploaded 
  <%= link_to beat.name, beat_path(beat) %>
</div>
<div class='timestamp'>
  <%= pretty_timestamp(beat.created_at) %>
</div>
