/* Juice */
@font-face {
    font-family: 'JUICELightRegular';
    src: url('Juice/JUICE_Light-webfont.eot');
    src: url('Juice/JUICE_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Juice/JUICE_Light-webfont.woff') format('woff'),
         url('Juice/JUICE_Light-webfont.ttf') format('truetype'),
         url('Juice/JUICE_Light-webfont.svg#JUICELightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'JUICELightItalic';
    src: url('Juice/JUICE_Light_Italic-webfont.eot');
    src: url('Juice/JUICE_Light_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Juice/JUICE_Light_Italic-webfont.woff') format('woff'),
         url('Juice/JUICE_Light_Italic-webfont.ttf') format('truetype'),
         url('Juice/JUICE_Light_Italic-webfont.svg#JUICELightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'JUICERegular';
    src: url('Juice/JUICE_Regular-webfont.eot');
    src: url('Juice/JUICE_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Juice/JUICE_Regular-webfont.woff') format('woff'),
         url('Juice/JUICE_Regular-webfont.ttf') format('truetype'),
         url('Juice/JUICE_Regular-webfont.svg#JUICERegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'JUICEItalic';
    src: url('Juice/JUICE_Italic-webfont.eot');
    src: url('Juice/JUICE_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Juice/JUICE_Italic-webfont.woff') format('woff'),
         url('Juice/JUICE_Italic-webfont.ttf') format('truetype'),
         url('Juice/JUICE_Italic-webfont.svg#JUICEItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'JUICEBold';
    src: url('JUICE_Bold-webfont.eot');
    src: url('JUICE_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('JUICE_Bold-webfont.woff') format('woff'),
         url('JUICE_Bold-webfont.ttf') format('truetype'),
         url('JUICE_Bold-webfont.svg#JUICEBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'JUICEBoldItalicRegular';
    src: url('JUICE_Bold_Italic-webfont.eot');
    src: url('JUICE_Bold_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('JUICE_Bold_Italic-webfont.woff') format('woff'),
         url('JUICE_Bold_Italic-webfont.ttf') format('truetype'),
         url('JUICE_Bold_Italic-webfont.svg#JUICEBoldItalicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Lane */
@font-face {
    font-family: 'LaneNarrowRegular';
    src: url('Lane/LANENAR_-webfont.eot');
    src: url('Lane/LANENAR_-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lane/LANENAR_-webfont.woff') format('woff'),
         url('Lane/LANENAR_-webfont.ttf') format('truetype'),
         url('Lane/LANENAR_-webfont.svg#LaneNarrowRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LaneUpperRegular';
    src: url('Lane/LANEUP__-webfont.eot');
    src: url('Lane/LANEUP__-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lane/LANEUP__-webfont.woff') format('woff'),
         url('Lane/LANEUP__-webfont.ttf') format('truetype'),
         url('Lane/LANEUP__-webfont.svg#LaneUpperRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LanePoshRegular';
    src: url('Lane/LANEPOSH-webfont.eot');
    src: url('Lane/LANEPOSH-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lane/LANEPOSH-webfont.woff') format('woff'),
         url('Lane/LANEPOSH-webfont.ttf') format('truetype'),
         url('Lane/LANEPOSH-webfont.svg#LanePoshRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

