#feed
  - @feed.each do |event|
    .event
      - case event.subject_type
      - when 'Sample'
        Sample uploaded
      - when 'Beat'
        Beat uploaded
      - when 'SampleBorrow'
        Sample borrowed
